.main {
    position: relative;
    padding: 20px;
    background: lightcoral;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

h6,
p,
h1,
h3 {
    margin: 0;
    padding: 0;
}

.company {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.company .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 10px 0;
}

.company .navbar span {
    display: none;
}

.company .navbar .fa-bars {
    font-size: 28px;
    font-weight: bolder;
    cursor: pointer;
    color: gray;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: lightslategray;
    width: 60%;
}

.navbar-items a {
    text-decoration: none;
    padding: 20px 50px;
    font-weight: 600;
    color: white;
}

.navbar-items a:hover {
    background-color: rgba(250, 235, 215, 0.649);
}

.company .navbar .brand {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: xx-large;
    align-items: stretch;
    width: 13%;
    border-radius: 3px;
    padding: 5px 70px;
    cursor: pointer;
    background-color: gray;
}

.login {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    width: 10%;
    margin: auto 0 auto auto !important;
}

.login a {
    text-decoration: none;
    background: rgba(1, 16, 1, 0.556);
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
}

#form {
    display: flex;
    position: relative;
    justify-content: flex-end;
}

#form .search {
    padding: 8px 15px;
    border-radius: 3px 0 0 3px;
    outline: none;
    border: none;
    font-family: sans-serif;
}

#form .btn {
    padding: 8px 10px;
    border-radius: 0 3px 3px 0;
    outline: none;
    border: none;
    background: lightslategray;
    color: white;
}

#form .btn:hover {
    background: lime;
}

.marquee {
    background: purple;
    font-weight: bold;
    font-size: 15pt;
    font-family: Verdana;
    color: white;
    padding: 10px;
}

.story {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    min-height: 900px;
}

.image-container {
    width: 500px;
    height: 700px;
    object-fit: contain;
}

.image-fluid {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
    margin: 10% 0;
    cursor: pointer;
    color: #000;
    font-size: 20px;
}


.texts h6 {
    font-size: medium;
}

.slogan {
    font-family: cursive;
    font-size: 35px;
    font-family: Georgia;
    font-weight: 300;
    text-align: center;
    color: black;
}

.contacts {
    margin-top: 30px;
    font-size: 25px;
    color: #000;
    text-align: center;
}

.contact-email{
    font-size: 20px;
    font-family: Georgia;
    color: #000;
    text-align: center;
}

.world{
    display: flex;
    Position: absolute;
    transform: translate( -50%, -50%);
    left: 80%;
}

.faq {
    margin-top: 30px;
    font-size: medium;
    text-align: center;
}

footer {
    text-align: center;
    font-size: medium;
    margin-top: 30px;
    color: #000;
}

/* PHONE VERSION */
@media screen and (min-width: 320px) {
    h1 {
        color: blue;
    }

    .company {
        width: 100%
    }

    .company .navbar span {
        display: flex;
    }

    .navbar-items {
        display: none;
    }

    .company .navbar .brand {
        width: 40px;
        font-size: small;
        padding: 5px 30pt;
    }

    .login {
        width: 45%;
        font-size: small;
    }

    #form .search {
        width: 100%;
    }

    .marquee {
        font-size: 15px;
        padding: 8px;
    }

    .story {
        flex-direction: column;
        justify-content: space-between;
    }

    .image-container {
        width: 100%;
        height: 100%;
    }
}

/* TABLET VERSION */
@media screen and (min-width: 768px) {
    h1 {
        color: green;
    }

    .company {
        width: 100%;
    }

    .company .navbar span {
        display: none;
    }

    .company .navbar {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .navbar-items {
        display: flex;
        width: 70%;
    }

    .navbar-items a {
        padding: 23pt 35px;
        text-align: center;
    }


    .company .navbar .brand {
        width: 80px;
        font-size: large;
        padding: 5px 50px;
    }

    .login {
        width: 18%;
    }

    #form .search {
        width: 90%;
        padding: 15px;
        margin: 0 auto;
    }

    .marquee {
        font-size: 15px;
        padding: 8px;
    }

    .story {
        flex-direction: column;
        justify-content: space-between;
    }

    .image-container {
        width: 100%;
        height: 100%;
    }
}

/* DESKTOP VERSION */
@media screen and (min-width: 980px) {

    .company {
        width: 100%;
    }

    .company .navbar span {
        display: none;
    }

    .company .navbar {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-items {
        display: flex;
        width: 80%;
    }

    .navbar-items a {
        padding: 23pt 35px;
        text-align: center;
    }


    .company .navbar .brand {
        width: 90px;
        font-size: large;
        padding: 5px 50px;
    }

    .login {
        width: 10%;
    }

    #form .search {
        width: 90%;
        padding: 15px;
    }

    #form .btn {
        padding: 5px 10px;
        width: 20%;
        font-size: medium;
    }

    .marquee {
        font-size: 20px;
        padding: 8px;
    }

    .story {
        flex-direction: row;
        justify-content: space-between;
    }

    .image-container {
        width: 100%;
        height: 600px;
    }
}